LGroup.Patterns/LGroup.RequestResponse.Client/LGroup.RequestResponse.Client/Service References/ProxyLGroup/LGroup1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/LGroup.RequestResponse.DataTransferObject.Delivery" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/LGroup.RequestResponse.DataTransferObject.Delivery" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:12345/Api/LGroup?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/LGroup.RequestResponse.DataTransferObject" />
  <xs:import schemaLocation="http://localhost:12345/Api/LGroup?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="http://localhost:12345/Api/LGroup?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/LGroup.RequestResponse.ValueObject" />
  <xs:complexType name="RequestDTO">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/LGroup.RequestResponse.DataTransferObject" minOccurs="0" name="Cliente" nillable="true" type="q1:ClienteDTO" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/LGroup.RequestResponse.DataTransferObject" minOccurs="0" name="Fornecedor" nillable="true" type="q2:FornecedorDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RequestDTO" nillable="true" type="tns:RequestDTO" />
  <xs:complexType name="ResponseDTO">
    <xs:sequence>
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/LGroup.RequestResponse.DataTransferObject" minOccurs="0" name="Clientes" nillable="true" type="q3:ArrayOfClienteDTO" />
      <xs:element minOccurs="0" name="DataExecucao" type="xs:dateTime" />
      <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/LGroup.RequestResponse.DataTransferObject" minOccurs="0" name="Fornecedores" nillable="true" type="q4:ArrayOfFornecedorDTO" />
      <xs:element minOccurs="0" name="Mensagem" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TempoExecucao" type="ser:duration" />
      <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/LGroup.RequestResponse.ValueObject" minOccurs="0" name="TipoMensagem" type="q5:TipoMensagemVO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ResponseDTO" nillable="true" type="tns:ResponseDTO" />
</xs:schema>